<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    </head>
    <body>
        <h1>Home</h1>

        <p>
            This is the home page for the Ch. 3 exercise
            found in <a href="https://www.railstutorial.org/">railstutorial.org</a>.
        </p>
    </body>
</html>
